:root {
  --main-bg-color: #F2EEE2;
  --main-txt-color: #595964;
  --bold-bg-color: #F81B84;
  --secondary-bg-color: #48D1CC;
  --tertiary-bg-color: #ffdf2b;
}

/* GENERAL */

body {
  font-family: 'Poppins';
  margin:0em;
  padding:0em 0em 0em 0em;
  font-size: 16px;
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
  color: var(--main-txt-color);
  font-weight: 600;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* HEADER */

.header {
  overflow: hidden;
  padding: 10px 10px;
  background: var(--secondary-bg-color);
}

.header img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* max-height: 30vh; */
  max-width: 100vw;
  max-height: 30vh;
}

.navbar {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 2.875em;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-family: "Courier New", Courier, monospace;
  padding: 1em 0em 1em 0em;
}

.navbar ul {
  margin: auto;
  overflow: hidden;
  display: table;
}

.navbar li {
  display: inline-block;
  text-align: center;
}

.navbar li a {
  display: inline-block;
  color: var(--main-txt-color);
  text-align: center;
  padding: 1em 1em;
  font-weight: normal;
}

.navbar li a:hover:not(.active) {
  background-color: var(--tertiary-bg-color);
}

.navbar li a.active {
  color: var(--main-bg-color);
  background-color: var(--bold-bg-color);
}

.cover {
  background-color: var(--main-bg-color);
}

.cover img {
  /* object-fit: cover; */
  max-width: 100%;
  max-height: 60vh;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: lightblue;
}


/* FOOTER */
.footer {
  width: 100%;
  background-color: var(--main-bg-color);
}


.footer ul {
  overflow: hidden;
  display: table;
  margin: auto;
  overflow: hidden;
  display: table;
}

.footer li {
  display: inline-block;
  align: center;
}

.footer li a {
  display: inline-block;
  color: var(--main-txt-color);
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
  font-weight: normal;
}

/* MODS */
.bold {
  font-weight: 600;
}

/* CONTAINERS */
.container {
  padding: 1em 1.25em 1em 1.875em;
  /* TOP RIGHT BOTTOM LEFT */
  color: var(--main-txt-color);
}

.row {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 50em;
  /* min-width: 500px; */
  padding: 1em 1.25em 1em 1.875em;
}

.row.wide{
  width: 90%;
  max-width: 70em;
}

.row.top {
  padding: inherit;
  padding-top: 0px;
}

.row h1 {
  text-align: center;
}

.row img {
  display: block;
  max-width: 100%;
  max-height: 80vh;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.row figcaption {
  display: block;
  text-align: center;
  /*Text settings to align with the img*/
  padding-top: .75em;
  width: 100%;
  max-width: 100em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* GRID */

.grid-container {
 display: grid;

 grid-column-gap: 50px;
 grid-row-gap: 50px;

 grid-template-columns: 30% 70%;
 grid-template-rows: auto;
}

/* TEXT */

.linkList {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.linkList h2 {

}

.linkList h3 {
  margin-top: 1.875em;
  margin-bottom: .625em;
}

.linkList a {
  font-style: normal;
  font-weight: 600;
}

.linkList p {
  font-style: italic;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 600px) {
  .header img {
    width: 50%;
  }
  .navbar {
    height: 180px;
    position: static;
  }
  .navbar ul {
    list-style-type: none;
  }
  .navbar li {
    display: grid;
  }
  .row {
    width: 65%;
  }
  .text-block {
    width: 60vw;
  }
}

@media screen and (max-width: 960px) {
  .header img {
    width: 500px;
  }
  .column {
    width: 100%;
  }
  .column img {
    object-fit: cover;
    /* max-height: 50vh; */
    width: 50vw;
  }
}
