/* HEADER */
.header {
  overflow: hidden;
  /* background-color: #f1f1f1; */
  padding: 10px 10px;
}

.navbar {
  background: hotpink;
  width: 100%;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 100;
  padding: 0;
  overflow: hidden;
  border: 10px solid #e7e7e7;
  background-color: #f3f3f3;
}

.navbar li {
  float: left;
  text-align: center;
}

.navbar li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: #ddd;
}

.navbar li a.active {
  color: white;
  background-color: #4CAF50;
}

.header img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
/* @media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  } */
}
