:root {
  --main-bg-color: #F2EEE2;
  --main-txt-color: #595964;
  --bold-bg-color: #F81B84;
  --secondary-bg-color: #48D1CC;
  --tertiary-bg-color: #ffdf2b;
}

body {
  font-family: 'Poppins';
  margin:0px;
  padding:0px 0px 0px 0px;
}

/* HEADER */
.header {
  overflow: hidden;
  /* background-color: #f1f1f1; */
  padding: 10px 10px;
  background: #48D1CC;
}

.header img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar {
  background: var(--main-bg-color);
  width: 100%;
  height: 46px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-family: "Courier New", Courier, monospace;
  padding: 15px 0px 15px 0px;
}

.navbar ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  display: table;
  /* border: 10px solid #e7e7e7; */
  /* background-color: #f3f3f3; */
}

.navbar li {
  display: inline-block;
  text-align: center;
}

.navbar li a {
  display: inline-block;
  color: var(--main-txt-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover:not(.active) {
  background-color: var(--tertiary-bg-color);
}

.navbar li a.active {
  color: var(--main-bg-color);
  background-color: var(--bold-bg-color);
}

.cover {
  background-color: var(--main-bg-color);
}

.cover img {
  /* object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto; */
  object-fit: cover;
  width: 100%;
  max-height: 80vh;
}

.container {
  background-color: var(--main-bg-color);
  padding: 15px 20px 15px 30px;
  /* TOP RIGHT BOTTOM LEFT */
  color: var(--main-txt-color);
}

.row {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 800px;
}

.column {

}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {

  .navbar {
    height: 180px;
    position: static;
  }
  .navbar ul {
    list-style-type: none;
  }
  .navbar li {
    display: grid;
  }
  .row {
    width: 65%;
  }
}
